:root {
  --serif-font: "Merriweather", serif;
  --desktop-padding: 2rem;
  --mobile-padding: 1.5rem;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

#root {
  height: 100vh;
}

h1 {
  font-family: var(--serif-font);
}
