:root {
  --title-font: "Tenali Ramakrishna", serif;
  --body-font: "Tenali Ramakrishna", serif;

  --font-color: #1b1a2f;
  --primary-color: #99bdfa;
  --secondary-color: #cadb4d;

  --desktop-padding: 2rem;
  --mobile-padding: 1.5rem;

  --border-width: 0.4rem;
  --page-width: 60%;
}

body {
  margin: 0;
  font-family: var(--body-font);
  color: var(--font-color);
  font-size: 16pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

h1,
h2 {
  font-family: var(--title-font);
  margin: 0;
}

h2 {
  font-size: 20pt;
}

a {
  color: var(--font-color);
}

pre {
  font-family: var(--title-font);
  font-size: 16pt;
}
